<section class="description py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 d-flex flex-column justify-content-center align-items-center mission-vision">
          <h2>Our Mission</h2>
          <p>
            At iMeet, we aim to innovate the virtual event sector using advanced facial recognition technology. Our objective is to provide secure, efficient, and personalized experiences for both organizers and participants. By integrating technology with human interaction, we seek to transform digital connections.
          </p>
          <h2 class="pt-5">Our Vision</h2>
          <p>
            Our ambition is to establish ourselves as the premier platform for virtual events, facilitating significant and impactful relationships for organizations and individuals. We foresee a future where technology harmoniously merges with human connection to offer enriching and universally accessible event experiences.
          </p>
        </div>
        <div class="col-md-6 ps-5 d-flex flex-column justify-content-center">
          <img src="about_us.jpg" alt="About Us" class="img-fluid rounded-4">
        </div>
      </div>
    </div>
</section>