<div class="footer shadow-sm border-top text-center bg-light">
    <div class="row py-4 width-100">
      <div class="col-4 ps-5 text-start justify-content-center">
        <img src="iMeet_logo.png" alt="iMeet logo" class="footer-logo mb-3" width="180" routerLink="/">
        <h5 class="py-2">Follow and Contact Us Via</h5>
        <div class="d-flex">
          <a href="#" class="social-media-logo me-3"><img src="facebook_icon.png" alt="Facebook" width="30" class="rounded"></a>
          <a href="#" class="me-3 social-media-logo"><img src="twitter_icon.png" alt="Twitter" width="30" class="rounded"></a>
          <a href="#" class="me-3 social-media-logo"><img src="insta_icon.png" alt="Instagram" width="30" class="rounded"></a>
          <a href="#" class="me-3 social-media-logo"><img src="whatsapp_icon.png" alt="WhatsApp" width="30" class="rounded"></a>
        </div>
      </div>
  
      <div class="col-4 ps-5 text-start p-0">
        <h4 class="mb-3 fw-bold">Contact Info</h4>
        <p class="mb-3 d-flex align-items-center"><i class="bi-geo-alt-fill fs-4 me-3"></i> 22, Jalan 1/128b, Taman Gembira, 58200 Kuala Lumpur, Wilayah Persekutuan Kuala Lumpur</p>
        <p class="mb-3 d-flex align-items-center"><i class="bi-telephone-fill fs-4 me-3"></i> +60182131601</p>
        <p class="d-flex align-items-center"><i class="bi-envelope-fill fs-4 me-3"></i> imeet.help&#64;gmail.com</p>
      </div>
  
      <div class="col-4 ps-5 text-start p-0">
        <h4 class="mb-3 fw-bold">Quick Links</h4>
        <ul class="list-unstyled">
          <li class="mb-3"><a class="footer-link text-decoration-none text-dark" routerLink="/about-us">About Us</a></li>
          <li class="mb-3"><a class="footer-link text-decoration-none text-dark" routerLink="/features">Features</a></li>
          <li><a class="footer-link text-decoration-none text-dark" routerLink="/contact-us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="border-top py-2 bg-secondary text-white">
      <p class="mb-0">&copy; 2024 iMeet. All Rights Reserved.</p>
    </div>
</div>
  