<section class="home-feature-section">
  <div class="feature-content">
    <h2>Experience Seamless Video Conferencing</h2>
    <p>
      iMeet provides a reliable and user-friendly video conferencing platform designed to keep you connected. With advanced features like face recognition, group collaboration, and secure meetings, it's the perfect solution for virtual communication. Explore our platform's intuitive design and discover how it simplifies your virtual interactions.
    </p>
  </div>
  <div class="feature-image">
    <img src="meeting.png" alt="Video Conference Screenshot" />
  </div>
</section>
<div class="stats pt-4">
    <h2 class="py-4">A Platform That Delivered</h2>
    <div class="row">
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <h3 class="count" data-target="15000">{{ virtualEvents }}</h3>
          <h3>+</h3>
        </div>
        <p>Virtual Events</p>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <h3 class="count" data-target="1000">{{ happyUsers }}</h3>
          <h3>+</h3>
        </div>
        <p>Happy Users</p>
      </div>
      <div class="col-4">
        <div class="d-flex justify-content-center">
          <h3 class="count" data-target="99">{{ customerSatisfaction }}</h3>
          <h3>%</h3>
        </div>
        
        <p>Customer Satisfaction</p>
      </div>
    </div>
</div>
  