section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    background-color: #ececec;

    .row {
        background-color: #ececec;
        width: 100%;

        .left-panel {
            border-radius: 10px 0 0 10px;
            position: relative;
            box-shadow: -2px 5px 12px rgba(0, 0, 0, 0.583);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            // img{
            //     display: block;
            //     width: auto;
            //     object-fit: cover;
            //     border-radius: 10px 0 0 10px;
            //     filter: brightness(70%);
            // }
        }
    }

    .login-container {
        width: 100%;
        border-radius: 0 10px 10px 0;
        background-color: rgb(255, 255, 255);
        box-shadow: 2px 5px 12px rgba(0, 0, 0, 0.583);

        .font {
            display: block;
            color: black;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .form-group {
            margin-bottom: 15px;

            .text-input {
                width: 100%;
                padding: 8px;
                border: 1px solid #ccc;
                border-radius: 5px;

                &::placeholder {
                    color: #909090;
                }
            }

            .visibility-icon {
                cursor: pointer;
                color: rgba(0, 0, 0, 0.54);
                transition: color 0.5s ease;
                margin-left: -40px;

                &:hover {
                    color: rgba(0, 0, 0, 0.87);
                }
            }

            input:-webkit-autofill {
                box-shadow: 0 0 0px 1000px white inset; /* Change white to your desired background color */
                -webkit-box-shadow: 0 0 0px 1000px white inset; /* For WebKit browsers */
                -webkit-text-fill-color: black; /* Text color inside the input */
                transition: background-color 5000s ease-in-out 0s; /* Prevent flashing during autofill */
            }
        }
    
        .login-button {
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        
            &:hover {
                background-color: #0056b3;
            }
        }

        a {
            display: block;
            color: #3294fd;
            text-decoration: none;
            cursor: pointer;
            width: 130px;
            
            &:hover {
                text-decoration: underline;
            }
        }
    }
}