.sidenav-container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .mat-drawer {
        border-radius: 0;
        border: none;
    }

    .sidenav {
        width: 65px;
        background-color: rgb(255, 255, 255);

        mat-nav-list {
            padding: 0;

            .nav-section {
                display: flex;
                flex-direction: column;
                height: 100vh;
            }

            mat-list-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 1rem 0.5rem;
                transition: transform 0.3s ease;

                .nav-icon, .logout-icon {
                    width: 24px;
                    height: 24px;
                    transition: transform 0.3s ease, filter 0.3s ease;
                }

                span {
                    font-size: 0.7rem;
                    padding: 0.2rem 0;
                    display: flex;
                    flex-direction: column;
                    height: auto;
                    align-items: center;
                    justify-content: center;
                }
            }
            
            .mdc-list-item.mdc-list-item--with-one-line {
                height: min-content;
            }            

            .mdc-list-item:focus::before,
            .mdc-list-item:active::before {
                background-color: transparent !important;
            }
        }

        .mat-mdc-nav-list .mat-mdc-list-item {
            border-radius: 0;
        }
    }

    .mat-toolbar {
        border-bottom: 1px solid #ccc;
        background-color: #c2bfbf;
        position: sticky;
        top: 0;
        z-index: 10000;

        .tab-header {
            padding: 0 4rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .content {
        background-color: #2d2a2a;
    }
}
