<section class="contact-form pt-5 pb-3">
    <div class="container">
      <h2 class="text-center mb-4">Send Us a Message</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" placeholder="Name" class="form-control" [(ngModel)]="form.name" [ngModelOptions]="{standalone: true}" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" placeholder="Email Address" class="form-control" [(ngModel)]="form.email" [ngModelOptions]="{standalone: true}" required />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" placeholder="Message" rows="5" [(ngModel)]="form.message" [ngModelOptions]="{standalone: true}" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="Submit()">Submit</button>
      </form>
    </div>
</section>