<div class="row my-5 align-items-center">
    <div class="col-6 ">
      <img 
        src="Virtual_Face_Recognition.png" class="virtual-face-recognition"
      >
    </div>
    <div class="col-6 ps-5 d-flex flex-column align-items-start justify-content-center">
      <h1 class="mb-3">
        A Virtual Event Platform with Facial Recognition Feature
      </h1>
      <p class="description pt-4">
        This platform integrates advanced facial recognition technology, enhanced security by preventing unauthorized participants, and a personalized experience for virtual events.
      </p>
      <button class="try-button px-3 py-2 mt-3" (click)="navigateToLogin()">
        Try iMeet Now <i class="bi-arrow-right right-arrow"></i>
      </button>
    </div>
</div>