<div class="menu shadow-sm border-bottom text-center py-2">
  <div class="row align-items-center">
    <div class="col-2 d-flex flex-row-reverse">
      <img src="iMeet_logo.png" alt="iMeet logo" class="logo" routerLink="/">
    </div>
    <div class="col-7 ps-4">
      <nav class="navbar">
        <ul class="navbar-nav flex-row justify-content-start w-100">
          <li class="nav-item me-5 ms-2">
            <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" routerLink="/features" routerLinkActive="active">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">Contact Us</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-3">
      <button routerLink="login" class="login py-2 px-3">
        Login / Sign Up
      </button>
    </div>
  </div>
</div>